PORT=3000
JWT_SECRET="makerbox_secret_key"
DATABASE_URL=""postgresql://postgres.nckavyamwjbmsjhzhccg:makerboxproject26@aws-1-us-east-2.pooler.supabase.com:5432/postgres?pgbouncer=true""

# Configuracion de correo (Outlook / Microsoft 365)
SMTP_HOST="smtp.office365.com"
SMTP_PORT=587
SMTP_USER="correo_sistema@utalca.cl"
SMTP_PASS="app_password_o_clave_smtp"
SMTP_SECURE=false
SMTP_FROM="MakerBox <correo_sistema@utalca.cl>"
