# Dependencias
node_modules/
frontend/node_modules/
backend/node_modules/

# Variables de entorno
.env
frontend/.env
backend/.env

# Variables de entorno para tests de integracion
.env.test
frontend/.env.test
backend/.env.test

# Builds y coverage
dist/
coverage/
frontend/dist/
frontend/coverage/
backend/coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema
.DS_Store