@import 'tailwindcss';

@theme {
  --color-primary: #0b193c;
  --color-primary-container: #222e52;
  --color-secondary: #006b5c;

  --color-background: #f8f9fb;
  --color-surface: #f8f9fb;

  --color-on-surface: #191c1e;
  --color-on-surface-variant: #454652;

  --color-surface-container: #eceef0;
  --color-surface-container-lowest: #ffffff;

  --color-outline: #767683;
}
